html{
	height: 100%;
}

body{
    font-family: sans-serif;
    overflow-x: hidden;
    position: relative;
}
.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: '#d5d9e0';
    color: rgb(238, 176, 176);
    text-align: center;
  }
.center{
    text-align: center;
}

.text-justify {
	text-align: justify;
}

.blog-btn {
	padding-top: 15px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	width: 45%;
	margin: auto;
}

.blog-text {
	padding: 10px 58px;
    
}

.wrapbtn {
	background-color: #fbfbfb;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 4px 4px 15px grey;
	margin-top:2px;
	margin-bottom: 2%;
}

.blog-tiles {
	padding-top: 15px;
	padding-bottom: 50px;
	width: 100%;
	border: 1px solid black;
    padding: 12px;
    box-shadow: 4px 4px 15px grey;
	margin-top:2px;
	
}

.col-center {
	margin: 0 auto;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.contactusform {
	padding-top: 15px;
	padding-bottom: 50px;
	width: 100%;
	border: 1px solid black;
    padding: 12px;
    box-shadow: 4px 4px 15px grey;
	margin-top:2px;
	border-radius: 12px;
	
}

.oddblock {
	background-color: #376b5a;
    color: white;
}

.bg-dark {
	background-color: #376b5a!important;
}

.contactuscontent {
	background-color: #fbfbfb;
    height: 100%;
}

/* By TT */

h1, h2, h3, h4, h5, h6, p{
  font-family: 'Raleway', sans-serif;
}

/*header section*/
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: #2d2d2d !important;
    /* position: fixed; */
}
.slider {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: ;
    text-align: center;
    color: #fff;
}
.slider-overlay{
  padding: 5em 2em;
  background-color: rgba(0, 0, 0, .8);
}
.h_title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'PT Sans', sans-serif;
    font-family: 'ZCOOL XiaoWei', serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Baloo Chettan', cursive;*/
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 1.5;
}
.h_title span{
  color: #9cc5fe;
}
.h_subtitle {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.h_desc {
    padding: 1em 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.75;
}

/*service section*/

.service.ser-course {
    }
.ser_category {
    padding: 4em 2em;
}
.ser_img img {
    width: 100%;
    text-align: center;
    padding: 2em 4em;
}
.ser_desc h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: #41719c;
    font-weight: 600;
    text-transform: capitalize;
    padding: 1.5em 0em 0em 0em;
    line-height: 1.8;
    letter-spacing: .5px;
}
.ser_concept {
    font-size: 22px;
    letter-spacing: .5px;
}
.ser_list {
    background-image: url(../images/pro_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ser_list_overlay{
    padding: 4em 4em;
    background-color: rgba(13, 1, 29, 0.85);
}
.ser_item {
    color: #fff;
    background-color: ;
    margin: 1em;
    font-size: 16px;
    text-align: left;
    /*box-shadow: 2px 2px 10px #000;*/
}
img.featured_img {
    width: 100%;
}
.item_label {
    padding: .5em 5px 0 5px;
    font-size: 18px;
}
.item_price {
    padding: 0 5px 0 5px;
}
.ser_list.btn_products{
  text-align: center;
}
.btn_all_products {
    border: none;
    background: none;
    padding: 2em 2em;
}
.btn_all_products a {  
    background: #fff;
    color: #004B6C;
    text-decoration: none;
    transition: .4s;
    padding: .6em 1em;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 550;
}
.btn_all_products a:hover{
    background: #004B6C;
    color: #fff;
}

/*add_products_page*/

.add.form-group.row {
    padding-left: 1em;
}
.btn_add {
    padding: .5em 1em;
    text-transform: uppercase;
}



















